<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">



    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);



</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
  <div class="product-essential">
    <div class="product-img-box span4"> <?php echo $this->getChildHtml('media') ?> </div>
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
      <div class="no-display">
        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
        <input type="hidden" name="related_product" id="related-products-field_1" value="" />
      </div>
      
      <!--Prev/Next Code Start-->
      
      <?php 



$_helper = $this->helper('catalog/output');



$_product = $this->getProduct();



$prev_url = $next_url = $url = $_product->getProductUrl();



 



if ($this->helper('catalog/data')->getCategory()) {



$category = $this->helper('catalog/data')->getCategory();



} else {



$_ccats = $this->helper('catalog/data')->getProduct()->getCategoryIds();



$category = Mage::getModel('catalog/category')->load($_ccats[0]);



}



 



$children = $category->getProductCollection();



$_count = is_array($children) ? count($children) : $children->count();



if ($_count) {



foreach ($children as $product) {



$plist[] = $product->getId();



}



 



/**



* Determine the previous/next link and link to current category



*/



$current_pid  = $this->helper('catalog/data')->getProduct()->getId();



$curpos   = array_search($current_pid, $plist);



// get link for prev product



$previd   = isset($plist[$curpos+1])? $plist[$curpos+1] : $current_pid;



$product  = Mage::getModel('catalog/product')->load($previd);



$prevpos  = $curpos;



while (!$product->isVisibleInCatalog()) {



$prevpos += 1;



$nextid   = isset($plist[$prevpos])? $plist[$prevpos] : $current_pid;



$product  = Mage::getModel('catalog/product')->load($nextid);



}



$prev_url = $product->getProductUrl();



// get link for next product



$nextid   = isset($plist[$curpos-1])? $plist[$curpos-1] : $current_pid;



$product  = Mage::getModel('catalog/product')->load($nextid);



$nextpos  = $curpos;



while (!$product->isVisibleInCatalog()) {



$nextpos -= 1;



$nextid   = isset($plist[$nextpos])? $plist[$nextpos] : $current_pid;



$product  = Mage::getModel('catalog/product')->load($nextid);



}



$next_url = $product->getProductUrl();



}



?>
      <div class="NextPre"> <a rel="tooltip" data-placement="left" title="<?php echo $this->__('No Products')?>" class="prod-prev disable" href="#">Prev</a> <a rel="tooltip" data-placement="right" title="<?php echo $this->__('Previous Product')?>" class="prod-next disable" href="#">NEXT</a>
        <?php if ($url <> $next_url):?>
        <a  rel="tooltip" data-placement="left" title="<?php echo $this->__('Previous Product')?>" class="prod-prev" href="<?php echo $next_url; ?>">PREV</a>
        <?php endif; ?>
        <?php if ($url <> $prev_url):?>
        <a class="prod-next" rel="tooltip" data-placement="right" title="<?php echo $this->__('Next Product')?>" href="<?php echo $prev_url; ?>">NEXT</a>
        <?php endif; ?>
      </div>
      
      <!--Prev/Next Code End-->
      
      <div class="product-shop span5">
        <div class="product_left">
          <div class="product-name">
            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            <?php if($_product->getData('brands')){echo '<span class="brands"><h4>brands:</h4>'. $_product->getAttributeText('brands').'</span>';  }?>
            <div class="stock_box"> <?php echo $this->getChildHtml('alert_urls') ?> <?php echo $this->getChildHtml('product_type_data') ?> <?php echo $this->getTierPriceHtml()?> </div>
            <div class="sku">
              <h4>Sku:</h4>
              <?php echo $this->htmlEscape($_product->getSku()) ?></div>
          </div>
          <div class="pro-left">
            <div class="review"> <?php echo $this->getReviewsSummaryHtml($_product, false, true)?> </div>
            
            <!-- <?php if ($_product->getShortDescription()):?>



          <div class="short-description">



            <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>



          </div>



          <?php endif;?>-->
            
            <div class="add_to_cart">
              <?php if (!$this->hasOptions()):?>
              <div class="add-to-box">
                <?php if($_product->isSaleable()): ?>
                <?php echo $this->getChildHtml('addtocart') ?>
                <?php endif; ?>
              </div>
              <?php endif; ?>
              <?php echo $this->getChildHtml('other');?>
              <?php if ($_product->isSaleable() && $this->hasOptions()):?>
              <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
              <?php endif;?>
              <?php if ($_product->isSaleable() && $this->hasOptions()):?>
              <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
              <?php endif;?>
            </div>
          </div>
          <div class="pro-right"> <?php echo $this->getChildHtml('extrahint') ?>
            <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
            <?php endif; ?>
            <?php echo $this->getChildHtml('addto') ?>
            <div class="additional">
              <?php if ($this->canEmailToFriend()): ?>
              <p class="email-friend"><a rel="tooltip" data-placement="top" title="<?php echo $this->__('Email to a Friend') ?>" href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>
              <?php endif; ?>
              <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('size_guide')->toHtml() ?></div>
            <div class="additional">
              <div class="addthis"> <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('addthis')->toHtml() ?> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product_right span3"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_banner_exclusivsport_pl')->toHtml() ?> </div>
    </form>
    <div class="product-collateral"> <?php echo $this->getChildHtml('info_tabs') ?> <?php echo $this->getChildHtml('product_additional_data') ?> </div>
  </div>
</div>
<?php echo $this->getChildHtml('upsell_products'); ?> <?php echo $this->getChildHtml('related'); ?> 
<script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
<script type="text/javascript">

    	jQuery(document).ready(function(){

			jQuery("a[rel=example_group]").fancybox({

				'transitionIn'		: 'none',

				'transitionOut'		: 'none',

				'titlePosition' 	: 'over',

				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {

					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';

				}

			});

	

	});

    </script> 
