<script type="text/javascript">
//<![CDATA[
<?php $menuContent = Mage::helper('custommenu')->getMenuContent(); ?>
if ($('custommenu') != undefined) {
    $('custommenu').update(<?php echo Mage::helper('core')->jsonEncode($menuContent['topMenu']); ?>);
}
wpPopupMenuContent = <?php echo Mage::helper('core')->jsonEncode($menuContent['popupMenu']); ?>;
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
<?php $mobileMenuContent = Mage::helper('custommenu')->getMobileMenuContent(); ?>
wpMobileMenuContent = <?php echo Mage::helper('core')->jsonEncode($mobileMenuContent); ?>;
wpCustomMenuMobileToggle();
Event.observe(window, 'resize', function() {
    wpCustomMenuMobileToggle();
});
//]]>
</script>
<script type="text/javascript">
    var html = '<ul class="mycartcheck">' +
        '<li><a class="mycart" href="<?php echo $this->getUrl('checkout/cart/') ?>">My Cart</a></li>' +
        '<li><a class="checkout" href="<?php echo $this->getUrl('onepagecheckout/') ?>">Checkout</a></li></ul>';
    var oldHtml = jQuery('#wp-nav-container').html();
    jQuery('#wp-nav-container').html(oldHtml + html);

</script>