<!--
/**
 * Advanced Permissions
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitpermissions
 * @version      2.10.6
 * @license:     n/a
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
--><!--@subject 
Approve new product 
@-->

<!--@styles
body { background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; }
@-->

<h4>Hello</h4>
<p>This is an auto notification from the <a href='{{var website}}'>{{var website}}</a>.</p>
<p>Administrator user {{var admin_name}} has added new product.</p>
<p>
	Product name: {{var product_name}}
	SKU: {{var product_sku}}
	Price: {{var product_price}}
</p>
<p>The product is waiting for your approval to be enabled.</p>
<p>Thank you.</p>