<div class="store-list-box container">
    <div class="store-list-item">
        <a href="http://sportimus.eu" title="EU"><img src="<?php echo Mage::getBaseUrl('media') . 'flags/flag_of_eu.gif';?>"/></a>
    </div>
    <div class="store-list-item">
        <a href="http://sportimus.pl" title="PL"><img src="<?php echo Mage::getBaseUrl('media') . 'flags/flag_of_poland.gif';?>"/></a>
    </div>
    <div class="store-list-item">
        <a href="http://sportimus.de" title="DE"><img src="<?php echo Mage::getBaseUrl('media') . 'flags/flag_of_de.gif';?>"/></a>
    </div>
    <div class="store-list-item">
        <a href="http://sportimus.co.uk" title="UK"><img src="<?php echo Mage::getBaseUrl('media') . 'flags/flag_of_uk.gif';?>"/></a>
    </div>
    <div class="store-list-item">
        <a href="http://sportimusapparel.com" title="USA"><img src="<?php echo Mage::getBaseUrl('media') . 'flags/flag_of_usa.gif';?>"/></a>
    </div>
</div>