<div class="payu-advertisement" style="text-align:center;">
<!--
<a href="<?php echo $this->getRedirectUrl();?>" target="_blank">
<img src="<?php echo $this->getAdvertisementSrc();?>" alt="PayU We Accept" /></a>
-->
</div>
